
<style>
    .spinner-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width:30px;
    }
</style>

<div class="spinner-overlay" style="display:@(IsLoading ? "block" : "none")">
    <div class="spinner">
        <img src="Icons/spinner.gif" style="width:80px;height:80px;" alt="Loading..." />
    </div>
</div>
